.container {
    width: 960px;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.page-wrapper {
    position: relative;
    background-color: $page-bg-color;
}