.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-fb {
    width: 44px;
    height: 44px;
    background-position: -6px -6px;
}

.sprite-icon-g_ {
    width: 44px;
    height: 44px;
    background-position: -6px -62px;
}

.sprite-icon-mail {
    width: 44px;
    height: 44px;
    background-position: -6px -118px;
}

.sprite-icon-odno {
    width: 44px;
    height: 44px;
    background-position: -6px -174px;
}

.sprite-icon-twitter {
    width: 44px;
    height: 44px;
    background-position: -6px -230px;
}

.sprite-icon-vk {
    width: 44px;
    height: 44px;
    background-position: -6px -286px;
}
